<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreatNotes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/allbooks.css">
</head>

<body>
    <nav class="gn-navbar">
        <div class="logo">
            <h1>GreatNotes</h1>
        </div>
        <div class="gn-navmenu">
            <ul class="gn-navoptions">
                <li><a href="/home">Home</a></li>
                <li><a href="/allBooks">Books</a></li>
                <li><a href="/signout">Sign Out</a></li>
            </ul>
        </div>
        <div class="toggle-btn">
            <div class="toggle-bar"></div>
            <div class="toggle-bar"></div>
            <div class="toggle-bar"></div>
        </div>
    </nav>


    <section id="all-books">
        <div class="filter-options">
            <form action="/filter" method="post" class="filter-form">
                <select name="filt-opt" class="filter-choice" id="">
                    <option value="">Filter By</option>
                    <option value="bytitle">Title</option>
                    <option value="byrating">Rating</option>
                    <option value="bydate">Date</option>
                </select>
            </form>
        </div>
        <div class="all-books-container">
            <% locals.userBooks.forEach(book=> { %>
                <div class="book-item">
                    <img src="<%= book.bookCover %>" alt="">
                    <div class="book-info">
                        <h3>Title: <span>
                                <%= book.title %>
                            </span></h3>
                        <h4>ISBN-13: <span>
                                <%= book.isbn %>
                            </span></h4>
                        <h4>Rating: <span>
                                <%= book.rating %>
                            </span></h3>
                            <h4>Date Added: <span>
                                    <%= book.date_added %>
                                </span></h3>
                    </div>

                    <form class="user-action">
                        <input type="text" name="book-id" class="book-id hidden" value="<%= book.id %>">
                        <button type="submit" class="view-btn" value="<%= book.id %>">View</button>
                        <button type="submit" class="edit-btn" value="<%= book.id %>">Edit</button>
                        <button type="submit" formaction="/delete" formmethod="post" class="delete-btn"
                            value="<%= book.id %>">Delete</button>
                    </form>

                </div>
                <div class="book-note note<%= book.id %>">
                    <p>
                        <%= book.note_detail %>
                    </p>
                    <form class="user-action">
                        <input type="text" name="book-id" class="book-id hidden" value="<%= book.id %>">
                        <button class="back-btn" value="<%= book.id %>">Go Back</button>
                        <button type="submit" class="edit-btn" value="<%= book.id %>">Edit</button>
                        <button type="submit" formaction="/delete" formmethod="post" class="delete-btn"
                            value="<%= book.id %>">Delete</button>
                    </form>
                </div>
                <div class="edit-book-form form<%= book.id %>">
                    <form class="edit-book">
                        <input type="text" name="book-id" class="book-id hidden" value="<%= book.id %>">
                        <label for="book-title">Book Title:</label>
                        <input type="text" name="book-title" class="title<%= book.id %>" id="" value="<%= book.title %>" required>
                        <label for="book-isbn">Book ISBN-13:</label>
                        <input type="number" name="book-isbn" class="isbn<%= book.id %>" id="" value="<%= book.isbn %>" required>
                        <label for="book-rating">Book Rating:</label>
                        <input type="number" name="book-rating" class="rating<%= book.id %>" id="" value="<%= book.rating %>" required>
                        <label for="book-note">Book Note:</label>
                        <textarea name="book-note" id="" cols="30" rows="10"><%= book.note_detail %></textarea>
                        <button type="submit" class="make-edit-btn">Edit Note</button>
                    </form>
                    <button class="back-btn" value="<%= book.id %>">Go Back</button>
                </div>
                <% }); %>
        </div>
    </section>
    <footer>
        <h4>Developed by Faruq Ayomide</h4>
    </footer>
    <script src="/scripts/main.js"></script>
<script src="/scripts/allbooks.js"></script>
</body>

</html>